# **Loading Data**

In [ ]:
#importing Pandas

import pandas as pd

In [ ]:
# loading dataset 1
dt1 = 'http://bit.ly/Telcom_dataset1'
data1 = pd.read_csv(dt1)
dataset1 = data1.set_axis(['PRODUCT', 'VALUE', 'DATETIME', 'CELL_ON_SITE', 'DW_A_NUMBER_INT', 'DW_B_NUMBER_INT', 'COUNTRY_A', 'COUNTRY_B', 'CELL_ID', 'SITE_ID'],  axis=1, inplace=False)
dataset1

     PRODUCT  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0      Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1        sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2        sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3      Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv
...      ...    ...                    ...  ...       ...         ...         ...
4996     sms    100  2012-05-07 00:01:54.0  ...     OTHER  0c2371d9bc  1e751d08a4
4997   Voice      1  2012-05-07 00:01:54.0  ...     19e2e  5fb791cf56  65efe2bc62
4998   Voice      0  2012-05-07 00:01:54.0  ...     19e2e  7773627c12  9ef9616350
4999   Voice      0  2012-05-07 00:01:54.0  ...     19e2e  3f4af49d6c  969b8d0e39
5000   Voice      7  2012-05-07 00:01:54.0  ...     19e2e  6f4d9b77a5  ebfc58af70

[5001 rows x 10 columns]

In [ ]:
#loading Dataset2
dt2 = 'http://bit.ly/Telcom_dataset2'
data2 = pd.read_csv(dt2)
dataset2 = data2.set_axis(['PRODUCT', 'VALUE', 'DATETIME', 'CELL_ON_SITE', 'DW_A_NUMBER_INT', 'DW_B_NUMBER_INT', 'COUNTRY_A', 'COUNTRY_B', 'CELL_ID', 'SITE_ID'],  axis=1, inplace=False)
dataset2

     PRODUCT  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0        sms      0  2012-05-07 23:02:06.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1      Voice      0  2012-05-07 23:03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
2        sms      0  2012-05-07 23:04:06.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
3      Voice     37  2012-05-07 23:04:48.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
4        sms     25  2012-05-07 23:04:58.0  ...     19e2e  +bO+qkSonO  +bO+qkSonO
...      ...    ...                    ...  ...       ...         ...         ...
4996     sms      0  2012-05-08 00:01:53.0  ...     19e2e  896459aace  b7d00e59e4
4997     sms     25  2012-05-08 00:01:53.0  ...     19e2e  7e90b35166  211015b14d
4998     sms      0  2012-05-08 00:01:53.0  ...     19e2e  fe70e431df  c7ea989264
4999    data      0  2012-05-08 00:01:53.0  ...     OTHER  ffa6759bb2         NaN
5000   Voice      0  2012-05-08 00:01:53.0  ...     19e2e  8630058aca  b47a998a3e

[5001 rows x 10 columns]

In [ ]:
#loadind Dataset3 
dt3 = 'http://bit.ly/Telcom_dataset3'
data3 = pd.read_csv(dt3)
dataset3 = data3.set_axis(['PRODUCT', 'VALUE', 'DATETIME', 'CELL_ON_SITE', 'DW_A_NUMBER_INT', 'DW_B_NUMBER_INT', 'COUNTRY_A', 'COUNTRY_B', 'CELL_ID', 'SITE_ID'],  axis=1, inplace=False)
dataset3

     PRODUCT  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0      Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1        sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2      Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3        sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA
...      ...    ...                    ...  ...       ...         ...         ...
4996   Voice      0  2012-05-09 00:01:43.0  ...     19e2e  2aa04dcab7  f7d63a29e5
4997   Voice     62  2012-05-09 00:01:43.0  ...     19e2e  7f1f2f889f  b4ddb9e93c
4998   Voice     32  2012-05-09 00:01:43.0  ...     19e2e  a4731e780e  d68260ef50
4999   Voice     30  2012-05-09 00:01:43.0  ...     19e2e  98ed726da2  b4130b54ab
5000   Voice     60  2012-05-09 00:01:43.0  ...     19e2e  1c11a2fcbb  6d70dae094

[5001 rows x 10 columns]

In [ ]:
#loading Cells_geo dataset

cells = pd.read_csv('/content/cells_geo.csv', delimiter=';')
cells_geo = cells.set_axis([' 0', 'CITY', 'STATUS', 'LOCALISATION', 'DECOUPZONE', 'ZONENAME', 'LONGITUDE', 'LATITUDE', 'REGION', 'AREA', 'CELL_ID', 'SITE_ID'],  axis=1, inplace=False)
cells_geo

         0      CITY      STATUS  ...          AREA     CELL_ID     SITE_ID
0        0    ADJAME  In Service  ...           NaN  fbb2e75af3  0bb492ef17
1        1    ADJAME  In Service  ...           NaN  1502501d78  0bb492ef17
2        2    ADJAME  In Service  ...           NaN  0c2e182a0c  0bb492ef17
3        3   ASSINIE  In Service  ...           NaN  69bdfc69fd  8a1e6ce31f
4        4   ASSINIE  In Service  ...           NaN  7a1029d2ab  8a1e6ce31f
...    ...       ...         ...  ...           ...         ...         ...
3969  3969  ZUENOULA  In Service  ...  CENTRE NORTH  1cfc2d7ab1  f91ed8d2e9
3970  3970  ZUENOULA  In Service  ...  CENTRE NORTH  3ae1708153  f91ed8d2e9
3971  3971  ZUENOULA  In Service  ...  CENTRE NORTH  cb71f8a29c  61bee9c70c
3972  3972  ZUENOULA  In Service  ...  CENTRE NORTH  d4a6a0b645  61bee9c70c
3973  3973  ZUENOULA  In Service  ...  CENTRE NORTH  f9f3e42589  61bee9c70c

[3974 rows x 12 columns]

## 1.1 Merging DataFrames

In [ ]:
my_data = [dataset1, dataset2, dataset3]
mtn_telcom = pd.concat(my_data)
mtn_telcom

     PRODUCT  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0      Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1        sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2        sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3      Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv
...      ...    ...                    ...  ...       ...         ...         ...
4996   Voice      0  2012-05-09 00:01:43.0  ...     19e2e  2aa04dcab7  f7d63a29e5
4997   Voice     62  2012-05-09 00:01:43.0  ...     19e2e  7f1f2f889f  b4ddb9e93c
4998   Voice     32  2012-05-09 00:01:43.0  ...     19e2e  a4731e780e  d68260ef50
4999   Voice     30  2012-05-09 00:01:43.0  ...     19e2e  98ed726da2  b4130b54ab
5000   Voice     60  2012-05-09 00:01:43.0  ...     19e2e  1c11a2fcbb  6d70dae094

[15003 rows x 10 columns]

# **DATA CLEANING**

# **1.1. Cleaning mtn_telecom Dataframe**

In [ ]:
#checking for null values
missing = mtn_telcom.isnull()
missing.sum()

# checking for duplicated values
mtn_telcom.duplicated()
mtn_telcom.drop_duplicates(inplace = True)

#droping useless collumns

mtn_telcom.drop(columns= ['CELL_ON_SITE', 'COUNTRY_A', 'COUNTRY_B'], inplace = True)
mtn_telcom

     PRODUCT  VALUE  ...     CELL_ID     SITE_ID
0      Voice      0  ...  /TJNe+Mmtu  /TJNe+Mmtu
1        sms      0  ...  /+cKZKIp41  /+cKZKIp41
2        sms     25  ...  /u0FSD+ahi  /u0FSD+ahi
3      Voice     56  ...  +cNeJzsTp3  +cNeJzsTp3
4      Voice     14  ...  051KhYDCpv  051KhYDCpv
...      ...    ...  ...         ...         ...
4995   Voice     10  ...  6467daa1db  8a96bae9c1
4996   Voice      0  ...  2aa04dcab7  f7d63a29e5
4997   Voice     62  ...  7f1f2f889f  b4ddb9e93c
4999   Voice     30  ...  98ed726da2  b4130b54ab
5000   Voice     60  ...  1c11a2fcbb  6d70dae094

[14750 rows x 7 columns]

# **1.2. Cleaning Cells_geo Dataframe**

In [ ]:
#checking for missing values

cells_geo.isnull()

cells_geo['STATUS'].fillna('In Service', inplace = True)
cells_geo

         0      CITY      STATUS  ...          AREA     CELL_ID     SITE_ID
0        0    ADJAME  In Service  ...           NaN  fbb2e75af3  0bb492ef17
1        1    ADJAME  In Service  ...           NaN  1502501d78  0bb492ef17
2        2    ADJAME  In Service  ...           NaN  0c2e182a0c  0bb492ef17
3        3   ASSINIE  In Service  ...           NaN  69bdfc69fd  8a1e6ce31f
4        4   ASSINIE  In Service  ...           NaN  7a1029d2ab  8a1e6ce31f
...    ...       ...         ...  ...           ...         ...         ...
3969  3969  ZUENOULA  In Service  ...  CENTRE NORTH  1cfc2d7ab1  f91ed8d2e9
3970  3970  ZUENOULA  In Service  ...  CENTRE NORTH  3ae1708153  f91ed8d2e9
3971  3971  ZUENOULA  In Service  ...  CENTRE NORTH  cb71f8a29c  61bee9c70c
3972  3972  ZUENOULA  In Service  ...  CENTRE NORTH  d4a6a0b645  61bee9c70c
3973  3973  ZUENOULA  In Service  ...  CENTRE NORTH  f9f3e42589  61bee9c70c

[3974 rows x 12 columns]

# ***1.3 ANALYSIS ***

## **1.3.1 Finding the most used city**

In [ ]:
#Most used city for the three days
# since we have site id  on both mtn_telcom and cell_geo,
#we can used it to find which sites were most used and the use the side to locate the cities

mtn_telcom['SITE_ID'].value_counts()

#from the results it cleary shows hoe many times a given site has been used.

7f76d66503    110
b47a998a3e     98
a7bd4c027b     79
5c565fbfb1     75
91e86be9a6     72
             ...
20387d4292      1
a8d8462dda      1
PXsDNP9zMj      1
7957b0fb82      1
BJBWybkIl8      1
Name: SITE_ID, Length: 1357, dtype: int64

In [ ]:
#now we can go ahead and find out which city do the most used site  belong. 
value = ['7f76d66503']
cells_geo[cells_geo.SITE_ID.isin(value)]

#now we can conclude by saying that the most used cities is "ATTECOUBE"

         0       CITY      STATUS  ...           AREA     CELL_ID     SITE_ID
1024  1024  ATTECOUBE  In Service  ...  ABIDJAN NORTH  1ce5a37ea9  7f76d66503
1025  1025  ATTECOUBE  In Service  ...  ABIDJAN NORTH  9e8e5e6e80  7f76d66503
1026  1026  ATTECOUBE  In Service  ...  ABIDJAN NORTH  122a33b94a  7f76d66503
1027  1027  ATTECOUBE  In Service  ...  ABIDJAN NORTH  3cd16ca46c  7f76d66503
1028  1028  ATTECOUBE  In Service  ...  ABIDJAN NORTH  d6a6e27eeb  7f76d66503
1029  1029  ATTECOUBE  In Service  ...  ABIDJAN NORTH  0c77287c00  7f76d66503

[6 rows x 12 columns]

## **1.3.2 The most used hours during business and home hours**

In [ ]:
#Which cities were the most used during business and home hours

mtn_telcom.info()
 
# we realise that the date colum is an onject and so we have to convert it to a date time datatype

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14750 entries, 0 to 5000
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PRODUCT          14750 non-null  object
 1   VALUE            14750 non-null  int64
 2   DATETIME         14750 non-null  object
 3   DW_A_NUMBER_INT  14750 non-null  object
 4   DW_B_NUMBER_INT  14750 non-null  object
 5   CELL_ID          14750 non-null  object
 6   SITE_ID          12789 non-null  object
dtypes: int64(1), object(6)
memory usage: 921.9+ KB

In [ ]:
# converting the column DATATIME from object datatype to datetime datatype

mtn_telcom["DATETIME"]= pd.to_datetime(mtn_telcom["DATETIME"])
mtn_telcom

mtn_telcom.info()

#The column DATETIME datatype ha snow been changed

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14750 entries, 0 to 5000
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PRODUCT          14750 non-null  object
 1   VALUE            14750 non-null  int64
 2   DATETIME         14750 non-null  datetime64[ns]
 3   DW_A_NUMBER_INT  14750 non-null  object
 4   DW_B_NUMBER_INT  14750 non-null  object
 5   CELL_ID          14750 non-null  object
 6   SITE_ID          12789 non-null  object
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 921.9+ KB

In [ ]:
#At this point we can now find the usage in the there days between office hours and home hours 

# Lets start by looking at working hours..
#

working_hrs = mtn_telcom[(mtn_telcom['DATETIME'].dt.hour >= 8) & (mtn_telcom['DATETIME'].dt.hour <= 17)] ["PRODUCT"].value_counts()
working_hrs

#from the output we realise that no product was used used during the buisness hours.
#so this means that its either people dont use their phones during the business hours or,
#the data collected was for home hours.

Series([], Name: PRODUCT, dtype: int64)

In [ ]:
#now we can look at home hours

after_work = mtn_telcom[(mtn_telcom['DATETIME'].dt.hour >= 17) & (mtn_telcom['DATETIME'].dt.hour <= 24)] ["PRODUCT"].value_counts()
before_work= mtn_telcom[(mtn_telcom['DATETIME'].dt.hour >= 0) & (mtn_telcom['DATETIME'].dt.hour < 8)] ["PRODUCT"].value_counts()


home_hours = after_work + before_work
home_hours

#we realise that each product was used during this hours which means
#1. the date collected may have been for the homehours only or in this cities people use there phones during home hours only
#2. the results also show that the most product that is used is sms so the company can thinkmof investing more on sms

sms      6950
Voice    5570
data     2230
Name: PRODUCT, dtype: int64